{% extends 'main.html' %}
{% block content %}
<div class="main-content">
    <h2>Reset Password</h2>
    {% if not_verified %}
    <h2 style="color:red">Old password not matching !!!</h2>
    {% endif %}
    <form action="" method="POST">
        {% csrf_token %}
        {% if verified %}
        <label for="">New Password</label>
        <input type="password" name="new_pass" id=""> <br>
        {% else %}
        <label for="">Old Password</label>
        <input type="password" name="old_pass" id=""> <br>
        {% endif %}
        <input type="submit" value="Submit">
    </form>
</div>
{% endblock content %}